body {
	font-family: sans-serif;
	background-color: #eff;
}

h1, h2, h3 {
	text-align: center;
	margin: 20px;
}

.calif {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.calif input {
	width: 200px;
}

.calif button {
	padding: 3px;
	margin-left: 3px;
}