body {
	font-family: sans-serif;
	background-color: #bbe;
}

h1, h2, h3 {
	text-align: center;
}

img {
	width: 500px;
	height: 300px;
	display: block;
	margin: auto;
}

h3 {
	text-align: center;
	margin: 20px;
}

.boton {
	display: block;
	margin: auto;
	padding: 10px;
	background-color: #ebb;
}

.boton:hover {
	background-color: #eeb;
}