body {
	background-color: #acc;
	font-family: sans-serif;
}

h1, h2 {
	text-align: center;
}

.seccionForm {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.formulario h3 {
	margin: 20px 0;
}

.formulario select {
	padding: 2px;
	width: 200px;
}

.formulario button {
	display: block;
	margin-top: 20px;
	padding: 3px;
	width: 200px;
	background-color: #cca;
}

.formulario button:hover {
	background-color: #cac;
}

.resultado {
	margin-top: 10px;
	text-align: center;
}