body {
	background-color: #2ec;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.datos {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 30px);
	align-items: center;
	justify-items: center;
}

.datos li {
	color: #68f;
}

.datos li, .alumnos li {
	list-style: none;
}

.alumnos {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 50px);
	align-items: center;
	justify-items: center;
}


.botones {
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
	align-content: center;
}

.botones button {
	padding: 5px;
	width: 300px;
}