* {
	font-family: sans-serif;
}

header {
	width: 80vw;
	margin: auto;
}

h1 {
	text-align: center;
	padding: 5px;
	border-bottom: 3px solid #000;
	box-shadow: 1px 2px 1px 4px #000;
	background-color: oklab(0.7455 0.13686 0.05024);
}

.murcielagoDerecha, .murcielagoIzquierda {
	display: none;
}

.murcielagoDerecha figure img, .murcielagoIzquierda figure img {
	width: 4vw;
	height: 4wh;
	position: absolute;
	top: 0;
}

@keyframes derecha {
	0% {
		right: 0;
	}
	50% {
		top: 0;
		right: 30vw;
	}
	100% {
		top: 30vw;
		right: 50vw;
		display: none;
	}
}

@keyframes izquierda {
	0% {
		left: 0;
	}
	50% {
		top: 0;
		right: 70vw;
	}
	100% {
		top: 30vw;
		left: 50vw;
		display: none;
	}
}

main {
	margin: 20px;
}

.cambiar {
	display: flex;
	justify-content: center;
}

.cambiar p {
	margin: 7px 10px;
}

.cambiar div {
	width: 100px;
	height: 37px;
	border-radius: 25% 25% 45% 45%;
	border: 1px solid #000;
	background-color: #222;
}

.cambiar div div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #eee;
	cursor: pointer;
}

@keyframes temaOscuro {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 70px;
	}
}

@keyframes temaClaro {
	0% {
		margin-left: 70px;
	}
	100% {
		margin-left: 0;
	}
}

.animacion {
	position: absolute;
	top: 40%;
	left: 25%;
	display: none;
}

.animacion img {
	width: 50vw;
	height: 40vh;
	object-fit: contain;
}

@keyframes efectoLogo {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes nada {
	0% {
		display: none;
	}
	100% {
		display: none;
	}
}

.datos {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.datos article {
	width: 350px;
	padding: 10px;
	border: 3px solid #123490;
	background-color: #bffffe;
}

.datos article h2 {
	text-align: center;
	margin: 10px 0 20px 0;
}

.datos article p {
	line-height: 1.5;
}

h1::selection, .cambiar p::selection, .datos article h2::selection, .datos article p::selection {
	background-color: #eee;
}

.tituloOscuro {
	border-bottom: 3px solid #eee;
	box-shadow: 1px 2px 1px 4px #eee;
	background-color: #004dc7;
	color: #ccc;
}