body {
	background-color: #9ef;
	font-family: monospace;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
	margin: 30px;
}

.botones {
	display: flex;
	align-content: center;
	justify-content: space-around;
	background-color: #eee;
	height: 5vh;
}

.botones button {
	font-size: 20px;
	border-style: none;
	background-color: transparent;
}

.botones button:hover {
	background-color: #aaa;
}

.resultado {
	text-align: center;
	margin: 50px;
	font-size: 25px;
}