body {
	background-color: aliceblue;
}

h1, h2 {
	text-align: center;
}

h2 {
	margin: 20px;
}

.contenido {
	height: 40vh;
	width: 50vw;
	margin: auto;
	background-color: #ccf;
}

.contenido h3 {
	font-family: monospace;
	font-size: 50px;
	text-align: center;
	padding: 50px;
}

.botones {
	display: flex;
	justify-content: space-around;
}

.botones button {
	border: none;
	border-radius: 5px;
	height: 30px;
}

.restar {
	background-color: #f55;
}

.resetear {
	background-color: #fff;
}

.sumar {
	background-color: #5b5;
}