body {
	background-color: #3de;
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

section:hover {
	border: 2px solid #fff;
	box-shadow: 0px 0px 30px #fff;
}