body {
	font-family: revert-layer;
	background: #9ef;
}

h1 {
	text-align: center;
}

.resultado {
	width: 70vw;
	height: 50vh;
	margin: auto;
	background: #eee;
}

.resultado h3 {
	padding: 30px 0 20px 30px;
}

.res {
	margin-top: 10vh;
	text-align: center;
}