body {
	color: #000;
	background: #2b028594;
	font-family: 'Reem Kufi Fun', sans-serif;
}

.header {
	background: #d71ae68a;
	padding: 10px;
	position: sticky;
	top: 0;
}

.links a {
	font-size: 30px;
	margin: 15px;
	color: #000;
}

.links i, .menu, .opciones a {
	color: #ddd;
}

.links {
	display: inline-block;
}

.menu {
	display: inline-block;
	font-size: 30px;
	position: absolute;
	margin: 0 10px;
	right: 0;
}

.opciones li {
	list-style: none;
	margin: 15px 0 15px 40px;
	font-size: 18px;
}

.opciones a {
	text-decoration-line: none;
}

.opciones {
	display: none;
}

.opciones_visible {
	margin: 9px 0;
	display: block;
	width: 200px;
	position: absolute;
	right: 0;
	background: #d71ae68a;
}

h1 {
	text-align: center;
}

h2 {
	display: inline-block;
	margin: 10px;
}

.select {
	margin: 0 0 10px 70%;
}

.select option, .select select {
	background: #d71ae68a;
	color: #ccc;
	font-size: 18px;
}

.camisas div, .pantalones div, .zapatos div, .llaveros div, .bolsas div, .conjuntos div {
	margin: 20px;
}

.llaveros div img, .bolsas div img {
	margin: 10px 0;
}

.camisas div p, .pantalones div p, .zapatos div p, .llaveros div p, .bolsas div p, .conjuntos div p {
	font-size: 18px;
	margin-bottom: 10px;
}

.camisas div img, .pantalones div img, .zapatos div img, .conjuntos div img {
	width: 100%;
	margin: 10px 0;
}

.compras {
	margin: 40px;
}

.compras i {
	font-size: 50px;
	color: #ccf;
}

.op {
	text-align: center;
}

.acercaDe {
	background: #bbf;
	padding: 20px;
}

.acercaDe h4 {
	font-size: 20px;
	margin: 5px;
}

.pie {
	text-align: center;
	padding: 10px;
}

.pantalones, .zapatos, .bolsas, .llaveros, .conjuntos {
	display: none;
}

@media only screen and (min-width: 600px) {
	.camisas, .pantalones, .zapatos, .bolsas, .llaveros, .conjuntos {
		display: flex;
		flex-wrap: wrap;
	}

	.pantalones, .zapatos, .bolsas, .llaveros, .conjuntos {
		display: none;
	}

	.camisas div, .pantalones div, .zapatos div, .llaveros div, .bolsas div, .conjuntos div {
		width: 260px;
		height: 650px;
		margin: 30px auto;
	}

	.camisas div img, .pantalones div img, .zapatos div img, .llaveros div img, .bolsas div img, .conjuntos div img {
		width: 250px;
		height: 250px;
		object-fit: cover;
	}
}

@media only screen and (min-width: 900px) {
	#lista {
		display: none;
	}

	.opciones {
		display: inline-block;
	}

	.opciones li {
		display: inline-block;
		text-align: center;
	}

	.links {
		padding-left: 8vw;
	}

	.links a {
		margin: 20px;
	}
}

@media only screen and (min-width: 1200px) {
	.links {
		width: 30vw;
		padding-left: 0;
	}

	.links a {
		margin: 0 8%;
	}

	.opciones {
		width: 50vw;
		margin-left: 0 8%;
	}

	.opciones li {
		margin: 0 5%;
	}
}

