body {
	background-color: #f322;
}

h1, h2 {
	text-align: center;
}

.res {
	width: 60vw;
	height: 500px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.res button {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.afirma {
	background-color: green;
}

.niega {
	background-color: red;
}

.afirma:hover, .niega:hover {
	cursor: pointer;
}