body {
	background: linear-gradient(to right bottom, #2f6, #f34);
	height: 100vh;
}

h1 {
	text-align: center;
}

.formulario {
	/*display: inline-block;*/
	margin: 0px 20px  20px 10vw;
	width: 80vw;
}

.formulario h3 {
	font-size: 20px;
	display: inline-block;
}

.formulario input  {
	height: 20px;
}

.formulario button {
	font-size: 15px;
}

img {
	display: block;
	margin: auto;
	width: 50vw;
}