body {
	background: #efebd6;
	font-family: 'Noto Serif HK', serif;
}

header {
	height: 50px;
	background: #8c5825;
	position: fixed;
	top: 0;
	width: 100vw;
	box-shadow: 0 5px #560;
}

header a {
	display: inline-block;
	font-size: 20px;
	margin: 20px;
	padding-left: 5vw;
	color: #000;
}

.bx {
	font-size: 30px;
	margin: -10px;
}

h1 {
	text-align: center;
	text-decoration: unset;
	line-height: 4;
}

.sub1 {
	display: inline-block;
	margin-left: 15px;
	width: 0; 
    height: 0; 
    border-left: 50px solid #f0ad4e;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; 
}

.sub {
	margin: 20px 30px;
	display: inline-block;
	position: relative;
	top: -15px;
}

.sub b {
	color: #560;
}

.masNuevo {
	display: flex;
	width: 90vw;
	margin: auto;
	margin-bottom: 40px;
}

.modelos img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.sub2 {
	margin: 20px 30px;
}

.sub3 {
	margin: 20px 30px;
	color: #444;
	line-height: 0.1;
}

.ver {
	color: #ff8000;
}

.prim {
	color: #580;
}

.oto {
	color: #540;
}

.inv {
	color: #8af;
}

.ultimasColecciones {
	display: flex;
	width: 90vw;
	margin: auto;
	flex-wrap: wrap;
}

.ultimasColecciones div {
	width: 350px;
	margin: 25px;
}

.modelo_invierno-4 img {
	object-fit: cover;
	object-position: top;
}

.sub5  {
	margin: 20px 30px;
	display: inline-block;
}

.parr {
	color: #849;
}

.modelosCasual {
	display: flex;
	flex-wrap: wrap;
	width: 95vw;
	margin: auto;
	margin-bottom: 50px;
}

.modelosC {
	width: 400px;
	margin: 15px;
}

.modelosC img {
	width: 300px;
	height: 500px;
	object-fit: cover;
}

.modelo_casual-6 img {
	object-position: right;
}

.nosotros {
	background-color: #fff;
}

.nosotros p {
	width: 70vw;
	display: block;
	margin: auto;
	text-align: center;
	color: #460;
	padding: 20px;
	line-height: 2;
}

.nosotros img {
	width: 50vw;
	height: 300px;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.promocion {
	width: 90vw;
	margin: auto;
	padding: 50px;
}

.promocion h3 {
	margin: 15px;
}

.promocion p {
	margin: 10px;
}

.promocion h4 {
	text-align: center;
	margin-bottom: 50px;
}

.pie {
	position: relative;
	bottom: 0;
	width: 80vw;
	text-align: center;
	margin: auto;
	padding: 20px;
}