body {
	background-color: #4ef;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	margin: 20px;
}

.lista {
	background-color: #d4e4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 100px;
}

.lista li {
	margin: 10px;
	list-style: none;
	width: 30%;
}